{
  "extends": "react-app",
  "globals": {
    "ENV": true,
    "VERSION": true
  },
  "rules": {
    "object-shorthand": 0,
    "arrow-body-style": 0,
    "arrow-parens": "error",
    "semi": "error",
    "quotes": [
      2,
      "single"
    ]
  }
}
