{
  "extends": "react-app",
  "globals": {
    "ENV": true,
    "VERSION": true
  },
  "rules": {
    "object-shorthand": 0,
    "arrow-body-style": 0,
    "semi": "error"
    // "arrow-parens": "error",
    // "quotes": [
    //   2,
    //   "single"
    // ]
  }
}
