:root {
  --main-color: #83c6e0;
  --secondary-color: rgb(82, 119, 243);
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
}

.App {
  text-align: center;
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
      "p p t t n n"
      "m m m m m m"
      "m m m m m m"
      "m m m m m m"
      "m m m m m m"
      "b b b b b b";
}

.current-player {
  grid-area: p;
  background: var(--main-color);
  font-size: 18px;
}

.next-player {
  grid-area: n;
  background: var(--main-color);
  font-size: 18px;
}

.timer {
  grid-area: t;
  background: var(--secondary-color);
  font-size: 18px;
}

.questions {
  grid-area: m;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.btn {
  grid-area: b;
  font-size: 30px;
}
