:root {
  --main-color: #83c6e0;
  --secondary-color: rgb(159, 214, 236);
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
}

.App {
  text-align: center;
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
      "p p t t n n"
      "m m m m m m"
      "m m m m m m"
      "m m m m m m"
      "m m m m m m"
      "b b b d d d";
}

.current-player {
  grid-area: p;
  background: var(--main-color);
  font-size: 18px;
  height: 70px;
}

.next-player {
  grid-area: n;
  background: var(--main-color);
  font-size: 18px;
  height: 70px;
}

.timer {
  grid-area: t;
  background: var(--secondary-color);
  font-size: 18px;
  height: 70px;
}

.questions {
  grid-area: m;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.btn-truth {
  grid-area: b;
  font-size: 20px;
  font-weight: bold;
  font-family: fantasy;
}

.btn-dare {
  grid-area: d;
  font-size: 20px;
  font-weight: bold;
  font-family: fantasy;
}

.btn-start {
  padding: 3px;
  margin: 3px;
  width: 80px;
}

.btn-timer {
  padding: 3px;
  margin: 3px;
  width: 30px;
}
