@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.title {
	background-image: url('/images/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
  background-position: center;
	background-clip: text;
  -webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 2rem;
	line-height: .75;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  padding-bottom: 16px;
  padding-top: 8px;
}

