@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
  --duration: 1s;
  --timing: ease;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.title {
	background-image: url('/images/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
	background-clip: text;
	text-transform: uppercase;
  color: transparent;
	font-size: 3rem;
	line-height: .75;
  font-family: 'Luckiest Guy', cursive, sans-serif;
  letter-spacing: 0.35rem;
  margin: 16px 0;
  padding: 16px 0;
}

.animate-categories {
  opacity: 0;
  animation-name: categories;
  animation-duration: var(--duration);
  animation-fill-mode: forwards;
  animation-timing-function: var(--timing);
}

@keyframes categories {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.animate-btnPlay {
  opacity: 0;
  animation-name: btnPlay;
  animation-duration: var(--duration);
  animation-fill-mode: forwards;
  animation-timing-function: var(--timing);
  animation-delay: 0.3s;
}

@keyframes btnPlay {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.animate-list {
  opacity: 0;
  animation-name: list;
  animation-duration: var(--duration);
  animation-fill-mode: forwards;
  animation-timing-function: var(--timing);
  animation-delay: 0.5s;
}

@keyframes list {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.animate-btnGroup {
  opacity: 0;
  animation-name: btnGroup;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: var(--timing);
}

@keyframes btnGroup {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

@media (max-width: 465px) {
  .title {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 0.25rem;
  }
}